-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-text-size-adjust: 100%;
font-size: 14px;
line-height: 1.4285em;
color: #374767;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
box-sizing: inherit;
min-height: 900px;
margin-right: auto;
margin-left: auto;
padding: 0 15px 10px;